import os

def limpiar_pantalla():
    os.system('cls' if os.name == 'nt' else 'clear')

def ingresa_palabra():
    limpiar_pantalla()
    palabra = input("Introduce la palabra a adivinar: ")
    limpiar_pantalla()
    return palabra

def mostrar_palabra_secreta(palabra, letras_adivinadas):
    palabra_secreta = ""
    for letra in palabra:
        if letra in letras_adivinadas:
            palabra_secreta += letra
        else:
            palabra_secreta += "_"
    return palabra_secreta


def jugar(palabra):
    letras_adivinadas = set()
    intentos_maximos = 7
    intentos = 0
    

    while intentos < intentos_maximos:
        palabra_secreta = mostrar_palabra_secreta(palabra, letras_adivinadas)
        print(f"Palabra: {palabra_secreta}")
        letra = input("Introduce una letra: ")

        letras_adivinadas.add(letra)

        if letra not in palabra:
            intentos += 1
            print(f"Letra incorrecta. Te quedan {intentos_maximos - intentos} intentos.")
        else:
            print("Adivinaste una letra.")

        if set(palabra) == letras_adivinadas:
            print("Has adivinado la palabra.")
            break

    if intentos == intentos_maximos:
        print(f"Perdiste. La palabra es: {palabra}")

    
palabra_a_adivinar = ingresa_palabra()
jugar(palabra_a_adivinar)
